<div class="expander">
  <%=p.fields_for :book_publication do |c|%>
  <table>
    <tr>
      <td class="labelDefinitionTerm">Publisher Name: </td>
      <td>
      <%= c.text_field :publishername,
                                           :id=>"txbookpublishername",                                           
                                           :title => 'Enter the name of publisher e.g Lahore press',
                                           :class=>"inputTextbox"%>
      </td>
      <td class ="fieldErrorPlacement">
        <%= @publication.book_publication.errors[:publishername][0] %>
      </td>
    </tr>

  </table>
  <%end%>
</div>