 <table class="teamTable">
  <tr>
    <td>
      <%=image_tag(image_name , :class=>'teamProfilePicture')%>
    </td>
  </tr>

  <tr>
   <td><%= name %></td>
  </tr>

  <tr>
   <td><%= designation %></td>
  </tr>

  <tr>
   <td><%= email %></td>
  </tr>
</table>