<% content_for :menu do %>
        <%= render "inventory/navigationmenu" %>
<% end %>

<% content_for :content do %>

    <div class="pageHeadingBar">
        <h1>Import Inventories</h1>
    </div>
    <hr class="headingLineBreak"/>


      <% if !flash[:msgGreen].blank? %>
        <div class="messages">
          <p><%=flash[:msgGreen]%></p>
        </div>
       <%end%>

<%end%>
