.page-container {
    overflow:hidden;
    margin:0 auto;
    padding:20px;
    position:relative;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
    width: 145px;
    font-size: large;
}

.page-container ul, .page-container li {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    list-style: none;
}

#treeMenu li {
    border-left: 0px solid black;
    padding:5px 0 5px 15px;
    color:black;
}

#treeMenu li.contentContainerLevel1 {
    background:url('btnRightNavigationMenu.png ') no-repeat -3px 10px;
    color: black;
    cursor: pointer;
    font-size: 16px;
}

#treeMenu li.contentViewingLevel1 {
    background:url('btnDownNavigationMenu.png ') no-repeat 0px 10px;
    color: #707070;	
    cursor: pointer;
    font-size: 16px;
}

#treeMenu li.contentContainerLevel2 {
    color: black;
    cursor: pointer;
    font-size: 15px;
}

#treeMenu li.contentContainerLevel2 a {
    color: black;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}

#treeMenu li.contentViewingLevel2 {
    background:url('btnRightNavigationMenu.png ') no-repeat -3px 10px;
    color: #707070;
    cursor: pointer;
}


.contentContainer ul, .contentViewing ul {
    color:black;
    margin:15px 0 0 10px;
}